<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-general-bajo-header">
        <a href="/productos/info/<%=productEditar.id%>">
            <div class="crear_iconContein">
                <i class="crear_icon fa-solid fa-circle-arrow-left"></i>
            </div>
        </a>
        <div class="top-editar">
            <h1 class="editar_tituloPrincipal">Edición de cursos</h1>
            <% if(locals.errors) {
                errors.forEach(error => { %>
                    <p class="erroresEdit"><%= error.msg %></p>
            <% });
            } %>
            <form action="/productos/<%= productEditar.id %>/guardar?_method=PUT" method="POST" class="editar_form">
                <div class="editar_errores" id="editar-errorList">
                    <ul id="editar-errorList">
                    </ul>
                </div>
                <div>
                    <h3 class="editar_tituloInfo">Información básica</h3>
                <div class="description-edit">
                    <input type="text" name="titulo" value="<%= productEditar.titulo %>" placeholder="Nombre de curso"><br>
                    <input type="textarea" name="description_corta" value="<%= productEditar.descripcion_corta %>" placeholder="Descripcion del curso"><br>
                    <textarea type="textarea" name="descripcion_larga" value="<%= productEditar.descripcion %>" placeholder="Descripcion mas detallada del curso"  rows="5" cols="60" class="editar_textArea"><%= productEditar.descripcion %></textarea>
                </div>
                <h3 class="editar_tituloInfo">Categoría</h3>
                <div class="category-edit">
                    <% for(i = 0; i < categorias.length; i++) { %>
                        <label for="category-edit"><input type="radio" name="categorias" value="<%= categorias[i].nombre %>" id="<%= categorias[i].nombre %>" ><%=categorias[i].nombre%></label><br>
                    <% } %> 
                </div>
                <h3 class="editar_tituloInfo">Cover del curso</h3>
                <div class="foto">
                    <% if(productEditar.imagen){ %>
                        <img class="editar_imagenPrevia" src="<%= productEditar.imagen %>" alt="imagen de curso">
                        <input type="file" name="imagen_principal" value="<%= productEditar.imagen %>" id="imagen_principal"><br>
                        <input type="text" class="editar_tituloImagenP" name="imagenPrevia" value="<%= productEditar.imagen %>"><br>
                    <% } else { %>
                        <input type="file" name="imagen_principal"  id="imagen_principal"><br>
                    <% } %>
                </div>
                <h3 class="editar_tituloInfo">Opciones de material</h3>
                <div class="multimedia-edit">
                    <label for="multimedia-edit"><input type="checkbox" name="visual" value="visual" id="visual">Visual</label><br>
                    <label for="multimedia-edit"><input type="checkbox" name="audio" value="audio" id="audio">Audio</label><br>
                    <label for="multimedia-edit"><input type="checkbox" name="audiovisual" value="audiovisual" id="audiovisual">Audiovisual</label><br>
                </div>
                <h3 class="editar_tituloInfo">Carga de multimedia</h3>
                <div class="multimedia-edit">
                    <label>Material en pdf<input type="file" name="pdf" id="pdf" accept="file_extension"></label><br>
                    <label>Material auditivo<input type="file" name="audio" id="audio" accept="audio/*"></label><br>
                    <label>Material audiovisual<input type="file" name="video" id="video" accept="video/*"></label><br>
                </div>
                <h3 class="editar_tituloInfo">Precio</h3>
                <div class="price-edit">
                    <input type="number" name="precio" value="<%= productEditar.precio %>" placeholder="Precio"><br>
                </div>
                <div class="editBtn">
                    <input type="submit" value="Editar" class="button">
                    <input type="reset" value="Borrar cambios" class="button">
                </div>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/Js/validacionFormEditarProducto.js"></script>
</body>
</html>