<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <main class="editUserMain">
        <div class="editUserLeft">
            <a href="/usuario/perfil/<%=findUser.id%>">
                <div class="login_iconContein">
                    <i class="login_icon fa-solid fa-circle-arrow-left"></i>
                </div>
            </a>
            <picture class="editLogo">
                <img src="/Images/Logo1.svg" class="register_logo">
            </picture>
        </div>
        <div class="editUserRight">
            <h1 class="editUserTitle">
                Editá tu perfil
            </h1>
            <% if (locals.errors) { 
                errors.forEach(error => { %>
                <p class="editUserErrors"><%= error.msg %></p>
            <% });
            } %>

            <form action="/usuario/<%= findUser.id %>/editUser?_method=PUT" method="POST">
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Nombre</label>
                    <input type="text" class="editUserInput" name="nombre" value="<%= findUser.nombre %>" placeholder="Ej:Juan" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Apellido</label>
                    <input type="text" class="editUserInput" value="<%= findUser.apellido %>" name="apellido" placeholder="Ej:Perez" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Email</label>
                    <input type="text" class="editUserInput" name="email" value="<%= findUser.email%>" placeholder="nombre@ejemplo.com" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Descripción</label>
                    <input type="textarea" class="editUserInput" name="descripcion" value="<%= findUser.descripcion%>" placeholder="Contanos sobre vos!" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Contraseña</label>
                    <input type="password" class="editUserInput" value="<%= findUser.password %>" name="contraseña" placeholder="Contraseña" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Confirmar
                        contraseña</label>
                    <input type="password" class="editUserInput" value="<%= findUser.password %>" name="recontraseña" placeholder="Confirma tu contraseña" >
                </div>
                <div class="editUserCampo">
                    <label for="nombre" class="editUserLabel">Categoria</label>
                    <div class="category-crear">   
                        <label for="category-crear"><input type="radio" name="categoria" value="Alumno" id="Alumno">Alumno</label><br>
                        <label for="category-crear"><input type="radio" name="categoria" value="Profesor" id="Profesor">Profesor</label><br>
                        <label for="category-crear"><input type="radio" name="categoria" value="Editor" id="Editor">Editor</label><br>
                        <label for="category-crear"><input type="radio" name="categoria" value="Administrador" id="Administrador">Administrador</label><br>
                    </div>
                </div>
                    <div class="editUserCampo">
                    <% if(findUser.imagen !== 'userDefault.jpg'){ %>
                        <img class="imagenAnterior" src="/Images/users/<%= findUser.imagen %>" alt="Tu foto de perfil">
                        <input type="file" name="imagenAnterior" value="<%= findUser.imagen %>" id="imagen"><br>
                        <input type="text" class="editarUserFoto" name="imagenAnterior" value="<%= findUser.imagen %>"><br>
                    <% } else { %>
                        <input type="file" name="imagen"  id="imagen"><br>
                    <% } %>
                </div>
                <div class="editUserBTNS">
                    <input type="submit" value="Actualizar" class="editUserBTNActualizar">
                    <input type="reset" value="Borrar" class="editUserBTNBorrar">
                </div>
            </form>
        </div>
    </main>
</body>
</html>