<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs')  %> 
    <section class="Slide">
        <img class="slide" src="/Images/banner.jpg" width="100%">
    </section>
    <main class="indexUser">
        <section>
            <h1>Cursos sobre multimedia</h1>
            <div class="cursitosCategory">
                <ul>
                        <% cursosFotos.forEach(el =>{ %>
                            <li class="li-curso">
                                <a href="/productos/info/<%=el.id %>">
                                    <article class="container-curso" >
                                    <img src="<%=el.imagen %>" width="100%">
                                    <div class="course-card">
                                        <h3><%=el.titulo %></h3>
                                        <div>
                                            <p><%=el.profesor %></p>
                                            <div class="media">
                                                <i class="fas fa-file-alt"></i>
                                                <i class="fas fa-headphones"></i>
                                                <i class="fas fa-video"></i>
                                            </div>
                                        </div>
                                        <p><%=el.precio %></p>
                                    </div>
                                    <div class="buttons">
                                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                                        <button class="buy">Comprar</button>
                                    </div>
                                </article>                        
                                </a>
                            </li>
                        <% }) %>
                </ul>
                
            </div>
        </section>
        <section>
            <h1>Cursos de Arte y manualidades</h1>
            <div class="cursitosCategory">
                <ul>
                        <% cursosArt.forEach(el =>{ %>
                            <li class="li-curso">
                                <a href="/productos/info/<%=el.id %>">
                                    <article class="container-curso" >
                                    <img src="<%=el.imagen %>" width="100%">
                                    <div class="course-card">
                                        <h3><%=el.titulo %></h3>
                                        <div>
                                            <p><%=el.profesor %></p>
                                            <div class="media">
                                                <i class="fas fa-file-alt"></i>
                                                <i class="fas fa-headphones"></i>
                                                <i class="fas fa-video"></i>
                                            </div>
                                        </div>
                                        <p><%=el.precio %></p>
                                    </div>
                                    <div class="buttons">
                                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                                        <button class="buy">Comprar</button>
                                    </div>
                                </article>                        
                                </a>
                            </li>
                        <% }) %>
                </ul>
                
            </div>
        </section>
        <section>
            <h1>Cursos sobre Organización</h1>
            <div class="cursitosCategory">
                <ul>
                        <% cursosOrg.forEach(el =>{ %>
                            <li class="li-curso">
                                <a href="/productos/info/<%=el.id %>">
                                    <article class="container-curso" >
                                    <img src="<%=el.imagen %>" width="100%">
                                    <div class="course-card">
                                        <h3><%=el.titulo %></h3>
                                        <div>
                                            <p><%=el.profesor %></p>
                                            <div class="media">
                                                <i class="fas fa-file-alt"></i>
                                                <i class="fas fa-headphones"></i>
                                                <i class="fas fa-video"></i>
                                            </div>
                                        </div>
                                        <p><%=el.precio %></p>
                                    </div>
                                    <div class="buttons">
                                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                                        <button class="buy">Comprar</button>
                                    </div>
                                </article>                        
                                </a>
                            </li>
                        <% }) %>
                </ul>
                
            </div>
        </section>
        <section>
            <!-- <h1>Cursos sobre Liderazgo</h1> -->
            <div class="cursitosCategory">
                <ul>
                        <% cursosLead.forEach(el =>{ %>
                            <li class="li-curso">
                                <a href="/productos/info/<%=el.id %>">
                                    <article class="container-curso" >
                                    <img src="<%=el.imagen %>" width="100%">
                                    <div class="course-card">
                                        <h3><%=el.titulo %></h3>
                                        <div>
                                            <p><%=el.profesor %></p>
                                            <div class="media">
                                                <i class="fas fa-file-alt"></i>
                                                <i class="fas fa-headphones"></i>
                                                <i class="fas fa-video"></i>
                                            </div>
                                        </div>
                                        <p><%=el.precio %></p>
                                    </div>
                                    <div class="buttons">
                                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                                        <button class="buy">Comprar</button>
                                    </div>
                                </article>                        
                                </a>
                            </li>
                        <% }) %>
                </ul>
                
            </div>
        </section>
        <section>
            <h1>Cursos sobre Comidas y Bebidas</h1>
            <div class="cursitosCategory">
                <ul>
                        <% cursosFood.forEach(el =>{ %>
                            <li class="li-curso">
                                <a href="/productos/info/<%=el.id %>">
                                    <article class="container-curso" >
                                    <img src="<%=el.imagen %>" width="100%">
                                    <div class="course-card">
                                        <h3><%=el.titulo %></h3>
                                        <div>
                                            <p><%=el.profesor %></p>
                                            <div class="media">
                                                <i class="fas fa-file-alt"></i>
                                                <i class="fas fa-headphones"></i>
                                                <i class="fas fa-video"></i>
                                            </div>
                                        </div>
                                        <p><%=el.precio %></p>
                                    </div>
                                    <div class="buttons">
                                        <button class="add"><i class="fas fa-cart-plus"></i></button>
                                        <button class="buy">Comprar</button>
                                    </div>
                                </article>                        
                                </a>
                            </li>
                        <% }) %>
                </ul>
                
            </div>
        </section>
    </main>
</body>
<%- include('./partials/footer.ejs') %>
</html>