<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="top-curso">
        <a href="video"><img class="miniatura" src="<%=productoEspecifico.imagen_principal %>"></a>
    </div>
    <main  class="detalle_producto">

        <div class="detalles-curso">
            <div class="product-main">
                <article class="descripcion-curso">
                    <div>
                        <h1 class="max-tittle">
                            <%= productoEspecifico.titulo %>
                        </h1>
                        <p>
                            <%= productoEspecifico.descripcion_corta %>
                        </p>
                    </div>
                    <picture>
                        <img class="carrusel" src="<%=productoEspecifico.carrusel.imagen-1 %>">
                        <img class="carrusel" src="<%=productoEspecifico.carrusel.imagen-2 %>">
                        <img class="carrusel" src="<%=productoEspecifico.carrusel.imagen-3 %>">
                    </picture>
                    <div>
                        <h3>
                            Descripcion
                        </h1>
                        <p>
                            <%= productoEspecifico.descripcion_larga %>
                        </p>
                    </div>
                </article>
                <div class="temario">
                    <h2>
                        Temario del curso
                    </h2>
                    <p>
                        <%= productoEspecifico.temario.datos_generales.modulos %> Módulos — <%= productoEspecifico.temario.datos_generales.clases %> Clases — <%= productoEspecifico.temario.datos_generales.duracion_total %> de duración total
                    </p>
                    <div class="tem-desplegable">
                        <ul>
                            <il>
                                <div class="box-tipo">
                                    <h3 class="text-insider">introduccion</h3> 
                                </div>
                            </il>
                            <il>
                                <div class="box-tipo">
                                    <h3 class="text-insider">Tema 1</h3> 
                                </div>
                            </il>
                            <il>
                                <div class="box-tipo">
                                    <h3 class="text-insider">Tema 2</h3> 
                                </div>
                            </il>
                        </ul>
                    </div>
                </div>
                <div class="opiniones-box">
                    <h1>
                        Valoraciones
                    </h1>
                    <div class="conteiner">
                        <article class="conteiner-son" >
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/iconosBlancos/bx-user 4.svg"></a>
                                <h2 class="cifra-conteiner"><%= productoEspecifico.Valoraciones.alumnos %></h2>
                            </picture>
                                <p class="text-conteiner">
                                    Alumnos
                                </p>
                        </article>
                        <article class="conteiner-son">
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/iconosBlancos/bx-comment 1.svg"></a>
                                <h2 class="cifra-conteiner"><%=productoEspecifico.Valoraciones.comentarios %></h2>
                            </picture>
                            <p class="text-conteiner">
                            Comentarios
                            </p>
                        </article>
                        <article class="conteiner-son">
                            <picture class="icon-conteiner">
                                <a href="/views/comment-curso"><img src="/Images/Iconos/iconosBlancos/bxs-like 1.svg"></a>
                                <h2 class="cifra-conteiner"> <%=productoEspecifico.Valoraciones.positivos %></h2>
                            </picture>
                                <p class="text-conteiner">
                                    Comentarios
                                </p>
                        </article>
                    </div>
                </div>
                <div class="seccion-comentarios">
                    <h1> 
                        Comentarios
                    </h1>
                    <div class="comentarios-box">
                        <article class="comentario-indiv">
                            <picture>
                                <img class="commit-user" src="/Images/Iconos/bxs-user-circle-shape.svg">
                            </picture>
                            <p class="commit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam vel obcaecati ratione vero provident tenetur illo, voluptatibus cum corrupti quia? Quaerat quos labore voluptatem enim, veritatis eaque perspiciatis deserunt?
                            </p>
                        </article>
                        <article class="comentario-indiv">
                            <picture>
                                <img class="commit-user" src="/Images/Iconos/bxs-user-circle-shape.svg">
                            </picture>
                            <p class="commit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam vel obcaecati ratione vero provident tenetur illo, voluptatibus cum corrupti quia? Quaerat quos labore voluptatem enim, veritatis eaque perspiciatis deserunt?
                            </p>
                        </article>
                        <article class="comentario-indiv">
                            <picture>
                                <img class="commit-user" src="/Images/Iconos/bxs-user-circle-shape.svg">
                            </picture>
                            <p class="commit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam vel obcaecati ratione vero provident tenetur illo, voluptatibus cum corrupti quia? Quaerat quos labore voluptatem enim, veritatis eaque perspiciatis deserunt?
                            </p>
                        </article>
                    </div>
                    <div class="temario">
                        <h2>
                            Preguntas frecuentes
                        </h2>
                        <div class="tem-desplegable">
                            <ul>
                                <il>
                                    <div class="box-tipo">
                                        <h3 class="text-insider"> > <%=productoEspecifico.preguntas_frecuentes.pregunta-1.titulo %></h3> 
                                    </div>
                                </il>
                                <il>
                                    <div class="box-tipo">
                                        <h3 class="text-insider"> > <%=productoEspecifico.preguntas_frecuentes.pregunta-2.titulo %></h3> 
                                    </div>
                                </il>
                                <il>
                                    <div class="box-tipo">
                                        <h3 class="text-insider"> > <%=productoEspecifico.preguntas_frecuentes.pregunta-3.titulo %> </h3> 
                                    </div>
                                </il>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="recomendaciones">
                    <h2>
                        Recomendados
                    </h2>
                    <div class="recomendacione-box">
                        <ul class="lista-recomendaciones">
                            <li class="recomendacion-indiv">
                                <picture class="miniatura-curso">
                                    <img  class="imagen-miniatura" src="/Images/camera.jpg">
                                </picture>
                                <div class="recomendacion-detalles">
                                    <div class="recomendacion-detalles_titulos">
                                        <h2 class="recomendacion-detalles_titulo1">
                                            Fotografia profesional
                                        </h2>
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur totam earum vel nam.
                                        </p>
                                    </div>
                                    <div class="recomendacion-detalle_puntuaciones">
                                        <div class="recomendacion-detalle_puntuaciones_alumnos">
                                            <i class="fas fa-user"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_alumnos_cifra">1.500</h4>
                                        </div>
                                        <div class="recomendacion-detalle_puntuaciones_calificacion-box">
                                            <i class="fas fa-star"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">4.5/</h4> <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">1.500</h4> 
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="recomendacion-indiv">
                                <picture class="miniatura-curso">
                                    <img  class="imagen-miniatura" src="/Images/bordado.jpg">
                                </picture>
                                <div class="recomendacion-detalles">
                                    <div class="recomendacion-detalles_titulos">
                                        <h2 class="recomendacion-detalles_titulo1">
                                            Bordado ATR
                                        </h2>
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur totam earum vel nam.
                                        </p>
                                    </div>
                                    <div class="recomendacion-detalle_puntuaciones">
                                        <div class="recomendacion-detalle_puntuaciones_alumnos">
                                            <i class="fas fa-user"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_alumnos_cifra">1.500</h4>
                                        </div>
                                        <div class="recomendacion-detalle_puntuaciones_calificacion-box">
                                            <i class="fas fa-star"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">4.5/</h4> <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">1.500</h4> 
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="recomendacion-indiv">
                                <picture class="miniatura-curso">
                                    <img  class="imagen-miniatura" src="/Images/drink.jpg">
                                </picture>
                                <div class="recomendacion-detalles">
                                    <div class="recomendacion-detalles_titulos">
                                        <h2 class="recomendacion-detalles_titulo1">
                                            Cocteleria profesional
                                        </h2>
                                        <p>
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur totam earum vel nam.
                                        </p>
                                    </div>
                                    <div class="recomendacion-detalle_puntuaciones">
                                        <div class="recomendacion-detalle_puntuaciones_alumnos">
                                            <i class="fas fa-user"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_alumnos_cifra">1.500</h4>
                                        </div>
                                        <div class="recomendacion-detalle_puntuaciones_calificacion-box">
                                            <i class="fas fa-star"></i>
                                            <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">4.5/</h4> <h4 class="recomendacion-detalle_puntuaciones_calificacion_cifra">1.500</h4> 
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="detalles-costos">
                <div class="precio-moneda">
                    <h2 class="precio">
                        $1500
                    </h2>
                    <h3 class="moneda">
                        ARS
                    </h3>
                </div>
                <div class="boton-compra">
                    <img src="/Images/Iconos/bx-cart.svg">
                    <h2 class="boton-accion">
                        comprar
                    </h2>
                </div>
                <ul><h4>Informacion del curso</h4>
                    <li>
                        <h4>Valoraciones positivas</h4>
                    </li>
                    <li>
                        <h4>Alumnos</h4>
                    </li>
                    <li>
                        <h4>Lecciones</h4>
                    </li>
                    <li>
                        <h4>Formato</h4>
                    </li>
                    <li>
                        <h4>Idioma</h4>
                    </li>
                    <li>
                        <h4>Subtitulos</h4>
                    </li>
                    <li>
                        <h4>Nivel</h4>
                    </li>
                    <li>
                        <h4>Certificación</h4>
                    </li>
                </ul>
                
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>