<!DOCTYPE>
<html>
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/header.ejs')%>
        <main class="mainPerfil">
            <div class="topUsuario">
                <img src="/Images/users/<%= findUser.imagen %>" alt="Tu foto de perfil" class="imagenPerfil" width="150px">
                <!-- <i class="membresia fa-solid fa-bookmark"></i> -->
                <div class="tituloUser">
                    <h1>
                        <%= findUser.nombre %> 
                        <%= findUser.apellido %>
                    </h1>
                    <% if (findUser.categoria_ID == 1) { %>
                        <h2>Alumno</h2>
                    <% } else if (findUser.categoria_ID == 2) { %>
                        <h2>Profesor</h2>
                    <% } else if (findUser.categoria_ID == 3) { %>
                        <h2>Editor</h2>
                    <% } else { %>
                        <h2>Administrador</h2>
                    <% }%>
                </div>             
                <a href="/usuario/<%= findUser.id%>/editUser">
                    <div class="editContainer">
                        <i class="editarPerfil fa-solid fa-square-pen"></i>
                    </div>
                </a>
            </div>
            <div class="bottomUsuario">
                <article class="infoUser">
                    <div class="sobreUser">
                        <h3>e-Mail</h3>
                        <p>
                            <%= findUser.email %>
                        </p>
                    </div>
                    <div class="sobreUser">
                        <h3>Sobre mi</h3>
                        <p>
                            <%= findUser.descripcion %>
                        </p>
                    </div>
                </article>
                <article class="infoUser">
                    <h3>Mis cursos</h3>
                    <a href="/productos/info/6">
                        <div class="cursosUser">
                            <picture class="userMiniCurso">
                                <img src="/Images/ted-talk.jpg" width="100px">
                            </picture>
                            <div class="infoMiniCurso">
                                <h3>Preparación de discursos y exposiciones</h3>
                                <p>Armando Paredes</p>
                            </div>
                        </div>
                    </a>
                    <a href="/productos/info/7">
                        <div class="cursosUser">
                            <picture class="userMiniCurso">
                                <img src="/Images/virtualidad.jpg" width="100px">
                            </picture>
                            <div class="infoMiniCurso">
                                <h3>Preparación de clases virtuales</h3>
                                <p>Carlitos Tado</p>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            <a href="/productos/crear" >
                <div class="perfil-boton-crear">
                    <h2 class="boton-accion">
                        Crear curso
                    </h2>
                </div>
            </a>
        </main>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>
